.footer {
  margin-top: 20px;
}
.footer-top {
  background: url('/img/footer-top.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 32px;
  padding-bottom: 22px;
}
.footer-phone__tel {
  font-weight: 900;
  font-size: 18px;
  color: #e6d56a;
  text-decoration: none;
}
.footer-date {
  padding-top: 6px;
}
.footer-date p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.footer-date p span {
  font-weight: bold;
}
.footer-social {
  margin-top: 16px;
}
.footer-social .social-btn {
  width: 33px;
  display: flex;
  justify-content: center;
  height: 33px;
  float: left;
  margin-right: 12px;
  background: #020202;
  border: 1px solid #e6d56a;
  transition: all 0.4s;
  box-shadow: inset 0px 0px 0px 0px #e6d56a;
}
.footer-social .social-btn:hover {
  box-shadow: inset 0px 0px 0px 2px #e6d56a;
}
.footer-pay {
  padding: 17px 23px;
  background: #020202;
  margin-left: 15px;
}
.footer-pay__text p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #D3D3D3;
}
.footer-pay__types {
  display: flex;
  margin-top: 10px;
}
.footer-pay__types .type {
  margin-right: 15px;
}
.footer-shop {
  max-width: 887px;
}
.footer-shop__title p {
  font-weight: 900;
  font-size: 18px;
  color: #e6d56a;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.footer-shop__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-shop__list .footer-item {
  width: 33%;
  margin-top: 19px;
}
.footer-shop__list .footer-item::before {
  content: url('/img/footer-map.png');
  float: left;
  width: 24px;
  height: 60px;
}
.footer-shop__list .footer-item__title p {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer-shop__list .footer-item__street p,
.footer-shop__list .footer-item__level p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #D3D3D3;
}
.footer-bottom {
  background: #020202;
  padding-top: 36px;
}
.footer-bottom__title p {
  font-weight: 900;
  font-size: 16px;
  line-height: 27px;
  color: #e6d56a;
}
.footer-bottom__title p a {
  text-decoration: none;
  color: inherit;
}
.footer-bottom__nav {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}
.footer-bottom__nav .footer-link {
  padding-top: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.footer-copy {
  border-top: 1px solid #e6d56a;
  margin-top: 39px;
  padding-top: 22px;
}
.footer-copy p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #e6d56a;
  text-align: center;
}
.footer-offert {
  padding-top: 18px;
  padding-bottom: 30px;
}
.footer-offert p {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1380px) {
  .footer-shop {
    max-width: 750px;
  }
}
@media (max-width: 1200px) {
  .footer-phone {
    text-align: center;
  }
  .footer-date {
    text-align: center;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
  }
  .footer-social .social-btn {
    margin-left: 6px;
    margin-right: 6px;
  }
  .footer-pay {
    width: max-content;
    margin-bottom: 20px;
  }
  .footer-shop {
    width: 100%;
    max-width: 100%;
  }
  .footer-shop__list .footer-item {
    width: 33.3%;
  }
}
@media (max-width: 600px) {
  .footer-phone {
    text-align: center;
  }
  .footer-date {
    text-align: center;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
  }
  .footer-social .social-btn {
    margin-left: 6px;
    margin-right: 6px;
  }
  .footer-pay {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
  }
  .footer-shop__list .footer-item {
    width: 100%;
  }
  .footer-bottom__title p {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    pointer-events: none;
  }
  .footer-bottom__title p:after {
    width: 10.39px;
    height: 4.5px;
    display: block;
    content: '';
    background: url("/img/footer-arrow.png") center center no-repeat;
    background-size: cover;
    margin-left: 10px;
    transform: rotate(0deg);
    transition: all 0.4s;
  }
  .footer-bottom .footer-bottom__title-active p::after {
    transform: rotate(-180deg) !important;
  }
  .footer-bottom .footer-bottom__title-active + .footer-bottom__nav {
    display: flex !important;
    margin-bottom: 15px;
  }
  .footer-bottom__nav {
    display: none;
  }
}
