.about{
    background: url('/img/rectangle.jpg') center center no-repeat;
    background-size: cover;
    padding-top: 36px;
    padding-bottom: 60px;
    &-card{
        background: #fff;
        border: 5px solid transparent;
        border-image: linear-gradient(#E7D36F, #B1973B, #E6D569);
        border-image-slice: 1;
        padding: 43px;
        min-height: 500px;
        &__title{
            p{
                font-weight: bold;
                font-size: 20px;
                line-height: 34px;
                color: #020202;
            }
        }
        &__desc{
            padding-top: 17px;
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 27px;
                color: #020202;
            }
        }
    }
}