.advantages{
    margin-top: 79px;
    &-title{
        p{
            background: linear-gradient(259.11deg, #e7d36f -9.27%, #b1973b 46.12%, #e6d569 108.67%), #d7c46c;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
            font-size: 50px;
            line-height: 61px;
        }
    }
    &-card{
        background: #fff;
        border: 5px solid #D3D3D3;
        padding: 42px;
        &__title{
            height: 49px;
            p{
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #020202;
            }
        }
        &__desc{
            padding-top: 17px;
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 27px;
                color: #020202;
            }
        }
    }
    &-images{
        position: relative;
        &_1{
            position: absolute;
            left: -51px;
            top: 164px;
        }
        &_2{
            position: absolute;
            left: 283px;
            top: -16px;
        }
        &_3{
            position: absolute;
            left: 583px;
            top: 25px;
            z-index: 2;
        }
    }
}