.photos{
    margin-top: 90px;
    &-title{
        p{
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            background: linear-gradient(259.11deg, #e7d36f -9.27%, #b1973b 46.12%, #e6d569 108.67%), #d7c46c;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &-insta{
        &__text{
            font-weight: normal;
            font-size: 30px;
            line-height: 37px;
            color: #020202;
        }
        &__btn{
            width: 234px;
            height: 67px;
            background: #020202;
            border: 4px solid #e6d56a;
            transition: all 0.4s;
            box-shadow: inset 0px 0px 0px 0px #e6d56a;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: 900;
            color: #e6d56a;
            margin-top: 60px;
            &:hover{
                box-shadow: inset 0px 0px 0px 6px #e6d56a;
            }
        }
    }
    &-slider{
        display: flex;
        height: 430px;
        .photos-wrapper{
            display: flex;
            flex-wrap: wrap;
            margin-right: -90px;
            overflow: hidden;
            position: relative;
            &:after{
                height: 114px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                content: '';
                background: linear-gradient(0deg, #FFFFFF 18.42%, rgba(255, 255, 255, 0) 100%);
            }
            .photos-item{
                position: relative;
                overflow: hidden;
                margin-right: 30px;
                margin-bottom: 30px;
                &__hover{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    .zoom-btn{
                        width: 73px;
                        height: 73px;
                        background: #020202;
                        opacity: 0.8;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 40px;
                        cursor: pointer;
                        transition: all 0.8s;
                        transform: translateY(500px);
                    }
                    &:hover{
                        .zoom-btn{
                            transform: translateY(0);
                        }
                    }
                }
            }
        }
    }
    &-arrows{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        right: 17px;
        bottom: 20px;
        button[disabled]{
            background: lightgray;
            box-shadow: none !important;
            cursor: not-allowed;
            svg{
                path{
                    stroke: gray;
                }
            }
        }
        button{
            width: 48px;
            height: 48px;
            background: #020202;
            border: 0;
            cursor: pointer;
            transition: all 0.4s;
            box-shadow: inset 0px 0px 0px 0px #e6d56a;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                box-shadow: inset 0px 0px 0px 3px #e6d56a;
            }
        }
        &__top{
            margin-bottom: 20px;
            svg{
                transform: rotate(180deg);
            }
        }
    }
}